<mat-nav-list>
    <div class="logo py-4">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATION</h2>
    <mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        <a>Home</a>
    </mat-list-item>
    <mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        <a>Dashboard</a>
    </mat-list-item>
    <mat-list-item routerLink="/unitinfo" routerLinkActive="list-item-active">
        <mat-icon>local_library</mat-icon>
        <a>Unit Info</a>
    </mat-list-item>
    <mat-list-item routerLink="/visitor" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>
        <a>Visitor</a>
    </mat-list-item>
    <mat-list-item routerLink="/report" routerLinkActive="list-item-active">
        <mat-icon>forum</mat-icon>
        <a>Report</a>
    </mat-list-item>
    <mat-list-item routerLink="/booking" routerLinkActive="list-item-active">
        <mat-icon>event_available</mat-icon>
        <a>Booking</a>
    </mat-list-item>
    <mat-list-item routerLink="/billing" routerLinkActive="list-item-active">
        <mat-icon>credit_card</mat-icon>
        <a>Billing</a>
    </mat-list-item>
    <mat-list-item routerLink="/noticeboard" routerLinkActive="list-item-active">
        <mat-icon>report</mat-icon>
        <a>Notice Board</a>
    </mat-list-item>

</mat-nav-list>
