:host{
    display:flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer{
    width: 200px;
    background: var(--primary-color);
    padding-left: 0.8rem;
}

mat-drawer-content {
    background: var(--page-backgrd);
}