<app-header></app-header>

<main class="m-0 p-3">
    <h1>Dashboard</h1>

    <span class="subtitle">Today</span>
    <hr>
    <div class="row cards">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        paid
                        </span>
                </div>
                <div>
                    <h1 class="mt-0 mb-0">0</h1>
                    <span class="card-text">New Payment</span>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        summarize
                        </span>
                </div>
                <div>
                    <h1 class="mt-0 mb-0">12</h1>
                    <span class="card-text">Unread Reports</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        people_alt
                        </span>
                        
                </div>
                <div>
                    <h1 class="mt-0 mb-0">25</h1>
                    <span class="card-text">Resident Visitor</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        directions_car
                        </span>
                        
                        
                </div>
                <div>
                    <h1 class="mt-0 mb-0">25</h1>
                    <span class="card-text">Non-Resident Vehicle</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        local_shipping
                        </span>
                </div>
                <div>
                    <h1 class="mt-0 mb-0">21</h1>
                    <span class="card-text">Delivery</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
            <div class="card-single bg-white border shadow">
                <div class="align-self-center mr-3 rounded-circle card-icon bg-theme">
                    <span class="material-icons md-36">
                        engineering
                        </span>
                </div>
                <div>
                    <h1 class="mt-0 mb-0">5</h1>
                    <span class="card-text">Vendor</span>
                </div>
            </div>
        </div>
    </div>


</main>